---
import { Cookies } from '../components/js/Cookies.jsx'

const { content } = Astro.props
const title = content.title?.replaceAll('#', '')
const snippet = content.snippet?.replaceAll('#', '')

const canonical = 'https://www.kuworking.com' + Astro.request.url.pathname

const schemaOrgJSONLD = JSON.stringify({
  '@context': 'https://schema.org',
  title: title,
  name: title,
  headline: title,
  description: title,
  mainEntityOfPage: {
    '@type': 'WebSite',
    '@id': 'https://schema.org/WebSite',
  },
  author: {
    '@type': 'Person',
    name: 'kuworking',
  },
  publisher: {
    '@type': 'Person',
    name: 'kuworking',
    logo: {
      '@type': 'ImageObject',
      url: 'https://www.kuworking.com/favicon.png',
    },
  },
})

const schemaScript = '<script type="application/ld+json">' + schemaOrgJSONLD + '</script>'

const q = u => `@media (min-width: ${u}px)`
const qq = u => `@media (max-width: ${u}px)`
const qem = u => `@media (min-width: ${u}em)`
const qqem = u => `@media (max-width: ${u}em)`

/*
        <noscript>
          <img
            height="1"
            width="1"
            style={{ display: 'none', visibility: 'hidden' }}
            src={'https://www.facebook.com/tr?id=' + config.fb_app_id + '&ev=PageView&noscript=1'}
          />
        </noscript>

       const fb = config.fb_app_id ? <meta property="fb:app_id" content={config.fb_app_id} /> : ''
*/
---

<html lang={content.lang || 'en'} class="theme1 typo1">
  <head>
    <!-- https://www.favicon-generator.org/ -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <!--  -->

    <title>{title}</title>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/atomic.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/css/prism-vsc-dark-plus.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="sitemap" href="/sitemap.xml" />

    <link rel="canonical" href={canonical} key={canonical} />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charSet="utf-8" />
    <meta name="description" content={snippet || 'coding in javascript'} />
    <meta name="keywords" content="javascript, astro, react" />
    <meta name="robots" content="index, follow" />

    {schemaScript}

    <meta property="og:site_name" content="kuworking" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={snippet || 'coding in javascript'} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonical} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="kuworking" />
    <meta name="twitter:site" content="kuworking" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={snippet || 'coding in javascript'} />
    <meta name="twitter:domain" content={canonical} />
    <meta name="twitter:image" content="https://source.unsplash.com/random" />

    <script>
      // gtm header
      ;(function (w, d, s, l, i) {
        w[l] = w[l] || []
        w[l].push('consent', 'default', {
          ad_storage: 'denied',
          analytics_storage: 'denied',
          wait_for_update: 500,
        })
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : ''
        j.async = true
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
        f.parentNode.insertBefore(j, f)
      })(window, document, 'script', 'dataLayer', 'GTM-WD3ZK2J')
    </script>
  </head>

  <body>
    <noscript>
      <iframe
        src={'https://www.googletagmanager.com/ns.html?id=GTM-WD3ZK2J'}
        height="0"
        width="0"
        style={{ display: 'none', visibility: 'hidden' }}></iframe>
    </noscript>

    <div class="Block">
      <slot />
    </div>
    <Cookies client:visible />
  </body>
</html>

<style>
  .Block {
    max-width: var(--max_width);
    transition: max-width 0.2s ease;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 10px 5px 10px; /* the 5px is needed, kind of bug for margin of other elements */
  }
</style>
