---
import Main from './Main.astro'
import Header from '../components/Header.astro'
import PostInfo from '../components/PostInfo.astro'
import Toc from '../components/Toc.astro'
import { LikePost } from '../components/js/LikePost.jsx'

const { content } = Astro.props

const q = u => `@media (min-width: ${u}px)`
const qq = u => `@media (max-width: ${u}px)`
const qem = u => `@media (min-width: ${u}em)`
const qqem = u => `@media (max-width: ${u}em)`
---

<Main {content}>
  <Header />
  <PostInfo {content} />
  <Toc headers={content.astro?.headers} />

  <slot />

  <LikePost client:visible />
</Main>

<style>
  .title {
    font-size: var(--h1_font_size);
  }
</style>
